
<table class='table'>

<tbody>
	<% @panels.each do |panel| %>
	<tr>
		<td><%= link_to "#{panel.name}", panel_reports_path(panel.id)%></td>
		<!-- link to reports_path(@report) where @report=Report.find(panel_id: :panel.id) -->
	</tr>
	<% end %>
</tbody>
</table>


<div> 
	<h4>Import Reports </h4>
	<%= form_tag import_panels_path, multipart: true do %>
	<%= file_field_tag :file %>
	<br>
	<%= submit_tag "Import" %>
<% end %>
</div>

